<div class="container">
  <form [formGroup]="InvoiceForm" (submit)="submitForm()">
    <div class="row mb-3">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="flex-column">
              <p class="m-0 p-0 mb-2 opacity-75 text-secondary fw-bold text-muted">
                Customer Name
              </p>
              <input type="text" class="form-control" formControlName="customerName">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="flex-column">
              <p class="m-0 p-0 mb-2 opacity-75 text-secondary fw-bold text-muted">
                Cashier Name
              </p>
              <select class="form-select" (change)="cashierChange($event)" formControlName="cashierID">
                <option [value]="null"></option>
                <option *ngFor="let cashier of CashierList" [value]="cashier.id">{{cashier.cashierName}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="flex-column">
              <p class="m-0 p-0 mb-2 opacity-75 text-secondary fw-bold text-muted">
                Branch Name
              </p>
              <select class="form-select" formControlName="branchID">
                <option [value]="null"></option>
                <option *ngFor="let branch of BranchList" [value]="branch.id">{{branch.branchName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div class="flex-column">
          <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-2">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <button class="btn btn-primary w-100" (click)="addEmptyItemToArray()" type="button">
                  Add Item
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <button class="btn btn-danger w-100" (click)="removeAll()" type="button">
                  Remove All
                </button>
              </div>
            </div>
          </div>
          <div style="height: 50vh; overflow-y: auto;">
            <table class="table table-hover table-light">
              <thead>
                <tr>
                  <th class="text-center" style="width: 40%;">Product Name</th>
                  <th class="text-center" style="width: 25%;">Quantity</th>
                  <th class="text-center" style="width: 25%;">Price</th>
                  <th class="text-center" style="width: 9%;">Remove</th>
                </tr>
              </thead>
              <tbody formArrayName="invoiceDetails">
                <tr *ngFor="let group of invoiceDetails.controls; let i = index" [formGroupName]="i">
                  <td class="text-center">
                    <input type="text" class="form-control text-center" formControlName="itemName">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control text-center" formControlName="itemCount">
                  </td>
                  <td class="text-center">
                    <input type="number" class="form-control text-center" formControlName="itemPrice">
                  </td>
                  <td>
                    <div class="row m-0 p-0">
                        <div class="col-12">
                            <button class="btn btn-danger w-100" (click)="removeItem(i)" type="button">
                                Remove
                            </button>
                        </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-lg-3 col-md-5 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <button class="btn btn-success w-100" type="submit">
              Save Invoice
            </button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <button class="btn btn-dark w-100" type="button" routerLink="/Dashboard/ManageInvoices">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
